<div class="container">
  <div class="row mt-5">
    <div class="col4 offset-1">
      <h2 class="table-secondary">商品登録画面</h2>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-3"></div>
      <%= form_with model:@item, url: admin_items_path, local:true do |f| %>
      <div class="col9">

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <%= f.label :image, "商品画像" %>
            </div>
            <div class="col-lg-9">
              <%= f.file_field :image, accept: "image/*", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <%= f.label :name, "商品名" %>
            </div>
            <div class="col-lg-9">
              <%= f.text_field :name, placeholder:"商品名" ,class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <%= f.label :explanation, "商品説明" %>
            </div>
            <div class="col-lg-9">
              <%= f.text_area :explanation, placeholder:"商品説明", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <%= f.label :genre_id,"ジャンル" %>
            </div>
            <div class="col-lg-9">
              <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: '--選択してください--'} %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <%= f.label :tax_out_price, "税抜き価格" %>
            </div>
            <div class="col-lg-9">
              <%= f.text_field :tax_out_price, placeholder:"1000"%>円
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <%= f.label :is_saled, "販売ステータス" %>
            </div>
            <div class="col-lg-7">
              <%= f.radio_button :is_saled, true %>
              <%= f.label :"販売中" %>


              <%= f.radio_button :is_saled, false %>
              <%= f.label :"販売停止中" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row mt-3 mb-5">
            <div class="col-6 offset-3">
              <%= f.submit "新規登録",class: "btn btn-success"%>
           </div>
          </div>
        </div>
      <% end %>
      </div>
  </div>
</div>