<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto my-5">
      <h4 class="headline">
        <%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集
      </h4>

      <div class="row">
        <div class="col-lg-10 mx-auto">

          <div class="row mb-3">
            <div class="col-lg-2">
              会員ID
            </div>
            <div class="col-lg-7 offset-lg-1">
              <%= @customer.id %>
            </div>
          </div>

          <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>
            <div class="row mb-3">
              <div class="col-lg-2">
                <%= f.label "氏名" %>
              </div>
              <div class="col-lg-7 offset-lg-1">
                <div class="form-inline">
                  <%= f.text_field :last_name, class: "col-lg-4 form-control" %>
                  <%= f.text_field :first_name, class: "col-lg-4 offset-lg-1 form-control" %>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-2">
                <%= f.label "フリガナ" %>
              </div>
              <div class="col-lg-7 offset-lg-1">
                <div class="form-inline">
                  <%= f.text_field :last_name_kana, class: "col-lg-4 form-control" %>
                  <%= f.text_field :first_name_kana, class: "col-lg-4 offset-lg-1 form-control" %>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-2">
                <%= f.label "郵便番号" %>
              </div>
              <div class="col-lg-7 offset-lg-1">
                <%= f.text_field :postal_code, class: "col-lg-4 form-control" %>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-2">
                <%= f.label "住所" %>
              </div>
              <div class="col-lg-7 offset-lg-1">
                <%= f.text_field :address, class: "form-control" %>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-2">
                <%= f.label "電話番号" %>
              </div>
              <div class="col-lg-7 offset-lg-1">
                <%= f.text_field :phone_number, class: "col-lg-4 form-control" %>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-2">
                <%= f.label "メールアドレス" %>
              </div>
              <div class="col-lg-7 offset-lg-1">
                <%= f.email_field :email, class: "col-lg-4 form-control" %>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-2">
                会員ステータス
              </div>
              <div class="col-lg-7 offset-lg-1">
                <%= f.radio_button :is_deleted, false, checked: true %>
                <%= f.label :is_deleted, "有効", value: false %>
                &emsp;
                <%= f.radio_button :is_deleted, true %>
                <%= f.label :is_deleted, "退会", value: true %>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-lg-2"></div>
              <div class="col-lg-2 offset-lg-1">
                <%= f.submit "変更を保存", class: "btn btn-success" %>
              </div>
            </div>

          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>