<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 mx-auto my-5">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-2"><h4 class="headline">注文履歴詳細</h4></div>
      </div>
      <div class="row mb-2">
        <div class="col-lg-10 mx-auto">
          <div class="row mb-2">
            <div class="col-lg-4">
              <h3>購入者</h3>
            </div>
            <div class="col-lg-7">
              <h3><%= @order.customer.last_name %> <%= @order.customer.first_name %></h3>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-lg-4">
              <h3><%= "注文日" %></h3>
            </div>
            <div class="col-lg-7">
              <h3><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></h3>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-lg-4">
              <h3><%= "配送先" %></h3>
            </div>
            <div class="col-lg-7">
              <h3><%= @order.address %></h3>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-lg-4">
              <h3><%= "支払い方法" %></h3>
            </div>
            <div class="col-lg-7">
              <h3><%= @order.pay_type %></h3>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-lg-4">
              <h3><%= "注文ステータス" %></h3>
            </div>
            <div class="col-lg-4">
              <%= form_with model:@order, url: admin_orders_path(@order.id), local:true do |f| %>
              <h3>
                <%= f.select :order_status, Order.order_statuses, {prompt: false}, class:"form-control form-control-sm col-6"  %>
              </h3>
              </div>
              <button type="submit" class="btn btn-success">更新</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-10 mx-auto">
          <div class="row">
            <div class="col-lg-8">
              <table class='table table-bordered'>
                <thead>
                  <tr class="table-secondary">
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th>制作ステータス</th>
                    <th colspan="2"></th>

                  </tr>
                </thead>
                <tbody>
                  <% @order_items.each do |order_items| %>
                    <tr>
                      <td><%= order_items.price%></td>
                      <td><%= order_items.price%></td>
                      <td><%= order_items.amount%></td>
                      <td><%= order_items.price * order_items.amount%></td>
                      <td>
                        <%= form_with model:@order_items, url: admin_orders_path(@order), local:true do |f| %>
                          <%= f.select :making_status, OrderItem.making_statuses, {prompt: false}, class:"form-control form-control-sm col-6"  %>
                        <% end %>
                      </td>
                      <td><button type="submit" class="btn btn-success">更新</button></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="col-lg-4">
              <div class="row mb-4 mx-auto">
                <div class="col-lg-6">
                  <h3><%= "商品合計" %></h3>
                </div>
                <div class="col-lg-5">
                  <h3><%= "10000円" %></h3>
                </div>
              </div>
              <div class="row mb-4 mx-auto">
                <div class="col-lg-6">
                  <h3><%= "送料" %></h3>
                </div>
                <div class="col-lg-5">
                  <h3><%= "800円" %></h3>
                </div>
              </div>
              <div class="row mb-4 mx-auto">
                <div class="col-lg-6">
                  <h3><%= "請求金額合計" %></h3>
                </div>
                <div class="col-lg-5">
                  <h3><%= "10800円" %></h3>
                </div>
              </div>



            </div>

            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>