<div class="container">
  <div class="row">
    <div class="col-lg-12 my-5">
      <h4 class="headline">注文履歴詳細</h4>

      <div class="row">
        <div class="col-lg-6">
          <p>注文情報</p>
          <table class="table table-bordered">
            <tr>
              <th>注文日</th>
              <td><%= @order.created_at %></td>
            </tr>
            <tr>
              <th>配送先</th>
              <td>
                〒<%= @order.delivery.postal_code %><br>
                <%= @order.delivery.address %><br>
                <%= @order.delivery.name %>
              </td>
            </tr>
            <tr>
              <th>支払方法</th>
              <td><%= @order.pay_type %></td>
            </tr>
            <tr>
              <th>ステータス</th>
              <td><%= @order.order_status %></td>
            </tr>
          </table>
        </div>

        <div class="col-lg-4">
          <p>請求情報</p>
          <table class="table table-bordered">
            <tr>
              <th>商品合計</th>
              <td><%= @sum %></td>
            </tr>
            <tr>
              <th>配送料</th>
              <td><%= @order.postage %></td>
            </tr>
            <tr>
              <th>ご請求額</th>
              <td><%= @order.total_payment %></td>
            </tr>
          </table>
        </div>

        <div class="col-lg-8">
          <p>注文内容</p>
          <thead>
            <tr>
              <th style="width: 70%">商品</th>
              <th style="width: 20%">単価(税込)</th>
              <th style="width: 5%">個数</th>
              <th style="width: 5%">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @order_items.each do |order_item| %>
              <tr>
                <td><%= order_item.name %></td>
                <td><%= order_item.price %></td>
                <td><%= order_item.amount %></td>
                <td><%= order_item.subtotal %></td>
              </tr>
            <% end %>
          </tbody>
        </div>

      </div>

    </div>
  </div>
</div>