<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto my-5">
      <div class="main-visual">
        <div class="main-visual-content">
          <div class="main-visual-text">
            <h6>ようこそ、ながのCAKEへ！</h6>
            <h6>このサイトは、ケーキ販売のECサイトになります。</h6>
            <h6>会員でない方も商品の閲覧はできますが、</h6>
            <h6>購入には会員登録が必要になります。</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h3>新着商品</h3>
      <div class="row my-3">
        <div class="col">
          <p><%= image_tag "cake.jpg", size: "200x150" %></p>
          <p>商品名: ケーキ</p>
          <p>値段</p>
        </div>
        <div class="col">
          <p><%= image_tag "cookie1.jpg", size: "200x150" %></p>
          <p>商品名: クッキー</p>
          <p>値段</p>
        </div>
        <div class="col">
          <p><%= image_tag "pudding.jpg", size: "200x150" %></p>
          <p>商品名: プリン</p>
          <p>値段</p>
        </div>
        <div class="col">
          <p><%= image_tag "candy.jpg", size: "200x150" %></p>
          <p>商品名: りんご飴</p>
          <p>値段</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-right">
      <p><%= link_to "全ての商品を見る >",items_path %></p>
    </div>
  </div>
</div>