<div class="container">
  <div class="row my-5">
    <div class="col-lg-3">
      <%= render 'genre_search',genres:@genres%>
     </div>

    <div class="col-9">

        <h1 class="item-title">
          <% if params[:genre_id] %>
            <%= @genre.name %>
            全<%= @items.count %>件
          <% else %>
            商品一覧
            <span>全<%= @item_count %>件</span><!--本当はsize小さくしたい-->
          <% end %>
        </h1>


      <div class="item-list">
        <div class ="row">
          <%  @items.each do |item| %>
            <%# if item.is_saled == true %><!--defalutはtrueに設定-->
            <div class="col-3 p-2">
              <div class="item_list">
                <p><%= link_to item_path(item) do %></p>
                  <p><%= image_tag item.get_image, size:"200x150" %></p>
                <p><%= item.name %></p>
                <p>  ¥<%= (item.with_tax_price).to_s(:delimited) %>(税込)</p>
                <% end %>
              </div>
              </div>
            <%# end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col3 mx-auto"><%=paginate  @items %></div>
      </div>
    </div>
  </div>
</div>