<div class="container px-5 px-sm-0">
  <div class="row">
     <div class="col-md-3">
      <!--%= render 'genre_search',genres:@genres%-->
     </div>
    <div class="col-md-8.offset-md-1">
      <h1 class="item-title">
        <!--% if params[:genre_id] %--><!--genresが解放されたらコメントアウトを解く-->
          <!--%= @genre.name %-->
        <!--% else %-->
          商品一覧
        <!--% end %-->
      <span>全<%= @items.count %>件</span><!--本当はsize小さくしたい-->
      </h1>

      <div class="item-list">
        <% @items.each do |item| %>
          <% if item.genre.is_saled == true %><!--defalutはtrueに設定-->
            <div class="products-list-item">
              <%= link_to item_path(item) do %>
                <%= image_tag item.get_image(100,100) %>
                <%= item.name %>
                ¥<%= (@item.tax_out_price*1.1).floor.to_s(:delimited) %>(税込)
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>