<div class="container px-5">
  <div class="row">
    <div class="col-md-3">
      <%= render 'genre_search',genres:@genres%>
    </div>


        <div class="col-md-4 offset-xs-1">
          <div class="show_image">
            <%= image_tag @item.get_image %>
          </div>
        </div>

        <div class="col-md-5">
          <div class="show-details">
            <h2><strong><%= @item.name %></strong></p2>
            <p class="item-introduction"><%= @item.explanation %></p>
            <h3>¥<%= (@item.tax_out_price*1.1).floor.to_s(:delimited) %>(税込)</h3>

            <!--商品詳細ページでカートに入れるボタンを作りたい場面-->
            <% if @item.is_saled == true %><!--商品販売中の場合-->
              <%= form_with(model: @cart_item,url: cart_items_path, method: :post,local: true)do |f| %>
                <%= f.number_field :amount , placeholder: "個数選択", min: 1, max: 10 %>
                <%= f.hidden_field :item_id, :value => @item.id %>
                <!--第一引数にオブジェクト名item_id、第二引数部分にvalueで受け渡す値 @item.idを指定-->
                <!--cart_item_controllerの cart_items.find_by(item_id:に送ることができる-->
                <%= f.submit "カートに入れる",  class: "btn btn-success" %>
              <% end %>
           <% end %>
          </div>
        </div>

  </div>
</div>